name: Build and test fmu-dataio

on:
  pull_request:
    branches: [main]
  schedule:
    - cron: "0 0 * * *"

jobs:
  build_pywheels:
    name: PY ${{ matrix.python-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11", "3.12"]
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install fmu-dataio
        run: |
          pip install pip -U
          pip install .[dev]

      - name: Install fmu-sumo-uploader
        if: matrix.python-version != '3.12'
        run:
          pip install \
            "fmu-sumo-uploader @ git+https://github.com/equinor/fmu-sumo-uploader.git"

      - name: Full test
        run: pytest -v
