# build and test some end points
name: Build and test fmu-dataio

# on: [push, pull_request]

on:
  pull_request:
    branches: [main]

jobs:
  build_pywheels:
    name: PY ${{ matrix.python-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v1

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install fmu-dataio
        run: >
          pip install pip -U &&
          pip install .

      - name: Full test
        run: >
          pip install -r requirements/requirements_test.txt &&
          pytest --disable-warnings -x
      # - name: Build documentation
      #   run: |
      #     python setup.py build_sphinx
      # - name: Update GitHub pages
      #   if: github.repository_owner == 'equinor' && github.ref == 'refs/heads/master' && matrix.python-version == '3.6'
      #   run: |
      #       cp -R ./build/sphinx/html ../html
      #       git config --local user.email "fmu-tools-github-action"
      #       git config --local user.name "fmu-tools-github-action"
      #       git fetch origin gh-pages
      #       git checkout --track origin/gh-pages
      #       git clean -f -f -d -x  # Double -f is intentional.
      #       git rm -r *
      #       cp -R ../html/* .
      #       touch .nojekyll  # If not, github pages ignores _* directories.
      #       git add .
      #       if git diff-index --quiet HEAD; then
      #         echo "No changes in documentation. Skip documentation deploy."
      #       else
      #         git commit -m "Update Github Pages"
      #         git push "https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git" gh-pages
      #       fi
