name: Test

on:
  pull_request:
    branches: [main]
  schedule:
    - cron: "0 0 * * *"

jobs:
  run_tests:
    name: Python ${{ matrix.python-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.11", "3.12"]
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Ert Ubuntu dependencies
        run: |
          sudo apt-get update
          sudo apt-get install libegl1

      - name: Install fmu-dataio
        run: |
          pip install pip -U
          pip install -e .[dev]

       # fmu-sumo-uploader blocked by OpenVDS on Python 3.12
      - name: Install fmu-sumo-uploader for Python 3.11
        if: matrix.python-version == '3.11'
        run:
          pip install \
            "fmu-sumo-uploader @ git+https://github.com/equinor/fmu-sumo-uploader.git"

      - name: Full test
        run: |

          if [[ "${{ github.event.pull_request.base.ref }}" == "staging" ]]; then
            pytest -n auto -v --cov --cov-report term-missing --prod
          else
            if [[ -v SUMO_ACCESS_TOKEN ]]; then
              pytest -n auto -v --cov --cov-report term-missing
            else
              pytest -n auto -v --cov --cov-report term-missing
            fi
          fi

