name: linting

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  schedule: 
     - cron: "0 0 * * *"  

permissions:
  contents: read
  pull-requests: write

jobs:
  linting:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Set up python
        run: uv python install 3.11

      - name: Install dev-env.
        run: |
          if [ "${{ github.event_name }}" = "schedule" ]; then
            uv sync --all-extras --upgrade
          else
            uv sync --all-extras --frozen
          fi

      # Install repos from their Github main branches instead of Pypi.
      # This removes the need to manually pin these version of the repos
      # during the development phase.

      - name: Install fmu-datamodels
        run: |
          uv pip install \
            "fmu-datamodels @ git+https://github.com/equinor/fmu-datamodels.git"

      - name: Ruff check
        if: ${{ always() }}
        run: uv run ruff check .

      - name: Ruff format
        if: ${{ always() }}
        run: uv run ruff format . --check
