name: Test

on:
  pull_request:
    branches: [main]
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: read
  pull-requests: write

jobs:
  run_tests:
    name: Python ${{ matrix.python-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13"]
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Set up Python
        run: uv python install ${{ matrix.python-version }}

      - name: Install Ert Ubuntu dependencies
        run: |
          sudo apt-get update
          sudo apt-get install libegl1

      - name: Install fmu-dataio
        run: |
          if [ "${{ github.event_name }}" = "schedule" ]; then
            uv sync --all-extras --upgrade
          else
            uv sync --all-extras --frozen
          fi

      - name: Install fmu-datamodels
        run: |
          uv pip install \
            "fmu-datamodels @ git+https://github.com/equinor/fmu-datamodels.git"

      # TODO: Remove this
      - name: Install bleeding ert
        run: |
          git lfs install
          export GIT_LFS_SKIP_SMUDGE=1
          uv pip install \
            "ert @ git+https://github.com/equinor/ert.git"

      # fmu-sumo-uploader blocked by OpenVDS on Python 3.12
      - name: Install fmu-sumo-uploader for Python 3.11
        if: matrix.python-version == '3.11'
        run: uv pip install \
          "fmu-sumo-uploader @ git+https://github.com/equinor/fmu-sumo-uploader.git"

      - name: Full test
        run: |
          uv run pytest -n auto -v --cov --cov-report term-missing
